body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.user {
    font-size: 18px;
}

.content {
    padding: 20px;
}

h1 {
    font-size: 28px;
}

.container {
    width: 100%;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.button {
    margin-bottom: 10px;
    width: 50%;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.textbox {
    display: none;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #555;
}

.search-box {
    display: flex;
    margin-top: 20px;
}

.search-box input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}

.search-box button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.search-box button:hover {
    background-color: #555;
}